body {
background-color: #ffffff;
}

.principal{
    background: #e0dede;
    padding: 30px;
    text-align: center;
    font-size: 20px;

}
#imagem1{
    width: 100%;
    height: 20%;
}

.itens{
    font-style: italic;
    text-align: left;
font-size: 20px;
}

.beneficios{
    background-color: #ffffff;
    padding: 20px;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 25px;
}
ul{
display:inline-block;
vertical-align: top;
margin:3%;
list-style:circle;
}

#imagem2{
    width:50%;
}